.env
storage/*
!storage/.gitkeep

# Ignorar archivos temporales y de estado de PostgreSQL
storage/postgres/postmaster.*
storage/postgres/pg_*
storage/postgres/*.pid
storage/postgres/*.opts
storage/postgres/base/
storage/postgres/global/
storage/postgres/pg_wal/
storage/postgres/pg_xact/
storage/postgres/pg_stat/
storage/postgres/pg_multixact/
storage/postgres/pg_notify/
storage/postgres/pg_replslot/
storage/postgres/pg_serial/
storage/postgres/pg_snapshots/
storage/postgres/pg_subtrans/
storage/postgres/pg_tblspc/
storage/postgres/pg_twophase/
storage/postgres/pg_logical/
storage/postgres/pg_dynshmem/
storage/postgres/pg_commit_ts/
storage/postgres/PG_VERSION
storage/postgres/pg_internal.init
storage/postgres/pg_filenode.map
storage/postgres/postgresql.auto.conf
storage/postgres/postgresql.conf
storage/postgres/pg_hba.conf
storage/postgres/pg_ident.conf
storage/postgres/postmaster.opts
storage/postgres/postmaster.pid

